version: "3.8"
services:
  slave-1:
      container_name: spotify
      build: .
      image: jmeter_report
      command:
        sh -c "./../run.sh spotify.jmx smoke.properties"
      volumes:
        - ./src:/etc/spotify